# Environment files
Agent/.env
.env

# Python cache files
*.pyc
__pycache__/

# Virtual environment
.venv/
venv/

# Jupyter notebooks (if you don't want to track them)
Agent/test.ipynb
*.ipynb

# Gradio files
.gradio/
Agent/.gradio/

# OS files
.DS_Store
Thumbs.db

# In devlopment for PoC
RAG_sandbox