# Environment files
Agent/.env
.env

# Python cache files
*.pyc
__pycache__/

# Virtual environment
.venv/
venv/


# Gradio files
.gradio/
Agent/.gradio/

# OS files
.DS_Store
Thumbs.db

# In devlopment for PoC
Agent/RAG/vector_store/
aa.json
Agent/test.ipynb
Agent/Agent/RAG/vector_store/index.faiss
Agent/Agent/RAG/vector_store/index.pkl
